<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head>
    <meta charset="utf-8">/app
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ricardo Montania Prado de Campos">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/img/favicon.png">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring Security Thymeleaf</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/app.css" id="theme">

    <!--<link rel="stylesheet" href="/datatables/datatables.css">-->

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#ff916e">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ff916e">

    <meta property="og:image:height" content="520">
    <meta property="og:image:width" content="993">
    <meta property="og:description" content="Ofertas de emprego a toda hora!">
    <meta property="og:title" content="Fastvagas">
    <meta property="og:url" content="https://fastvagas.com.br">
    <meta property="og:image" content="https://fastvagas/faceog/og-image.jpg">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<div id="wrapper">
    <th:block th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <th:block layout:fragment="content"/>
        <th:block th:replace="fragments/footer :: footer"/>
    </div>
</div>

<script type="text/javascript" src="/dist/js/app.js"></script>
<script type="text/javascript" src="/dist/js/app-ko.js"></script>

<!-- apenas admin
<script src="/datatables/datatables.min.js"></script>
<script src="/ko/form-pessoa.js"></script>
<script src="/ko/adm-pessoas.js"></script>
<script src="/ko/form-portal.js"></script>
<script src="/ko/adm-portais.js"></script>
<script src="/ko/adm-vagas.js"></script>
<script src="/ko/adm-historico.js"></script>
<script src="/ko/form-cron.js"></script>
<script src="/ko/adm-cron.js"></script>
-->

<!-- Custom Theme JavaScript -->
<script src="/js/dashboard1.js"></script>
</body>
</html>
