<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
<head>
    <title>Onde Tem Vagas - A sua ferramenta de busca de vagas</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ricardo Montania Prado de Campos">
    <meta name="description" content="Ferramenta de busca de vagas"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/app.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/login.css}">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#55efc4">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#55efc4">

    <meta property="og:image:width" content="1027">
    <meta property="og:image:height" content="538">
    <meta property="og:description" content="A sua melhor ferramenta na busca por vagas de emprego">
    <meta property="og:title" content="Ontem Tem Vagas">
    <meta property="og:url" content="https://ondetemvagas.com.br">
    <meta property="og:image" content="https://ondetemvagas.com.br/faceog/og-image.jpg">
</head>
<body>
    <div id="index">
    <!-- Header top -->
    <section class="billboard light">
        <header class="container-fluid light">
            <a class="navbar-brand" th:href="@{/}">
                <img class="logo" src="/img/fast_logo2a.png" width="56" alt="Logo Ontem Tem Vagas"/>
                <span class="logo-index">Onde Tem Vagas</span>
            </a>

            <nav class="hidden-xs hidden-sm" id="header-menu-colps1">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="contato-header">Contato</a></li>
                    <li><a href="#" class="cadastre-se">Cadastre-se</a></li>
                    <li><a th:href="@{/app}" class="acessar-conta">Minhas vagas</a></li>
                </ul>
            </nav>
        </header>

        <div class="caption light animated wow fadeInDown clearfix">
            <h1>Eficiência na busca de vagas</h1>
            <p>Somos um serviço de busca de anúncios que varre,
                filtra e coloca o resultado na sua mão. Simples assim!
            </p>
            <hr>
        </div>

        <div class="row visible-xs visible-sm" style="margin-top:30px;">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-default contato-header">Contato</button>
                <button type="button" class="btn btn-default cadastre-se">Cadastre-se</button>
                <a th:href="@{/app}" class="btn btn-default">Minhas vagas</a>
            </div>
        </div>

        <div class="shadow"></div>
    </section>

    <!-- Serviços -->
    <section class="container-fluid services">
        <ul class="row">
            <li class="col-xs-12 col-md-4 animated wow fadeInDown">
                <img class="icon" src="/img/icon1.png" alt="Eficiência"/>

                <h2>Vamos lá!</h2>
                <p>Você informa o nome da vaga e a cidade que está procurando.</p>
            </li>
            <li class="col-xs-12 col-md-4 animated wow fadeInDown" data-wow-delay=".2s">
                <img class="icon" src="/img/icon2.png" alt="Seus filtros"/>

                <h2>Filtros</h2>
                <p>Define todas os termos que podem ser usados como filtro de pesquisa.</p>
            </li>
            <li class="col-xs-12 col-md-4 animated wow fadeInDown" data-wow-delay=".4s">
                <img class="icon" src="/img/icon3.png" alt="De olho"/>

                <h2>E fica de olho</h2>
                <p>E então é só acompanhar por e-mail ou pelo app! Gostou?</p>
            </li>
        </ul>
    </section>

    <!-- Botões app -->
    <section class="video">
        <a href="#" class="wow">
            <img src="/img/appstore.png" height="150" alt="App Store Download" class="video_logo animated wow fadeInDown animated"/>
        </a>
        <a href="#2" class="wow">
            <img src="/img/googleplay.png" height="150" alt="App Store Download" class="video_logo animated wow fadeInDown animated"/>
        </a>
    </section>

    <!-- Contato -->
    <section class="blog_posts" id="contato">
        <div class="container-fluid">
            <div class="title animated wow fadeInDown">
                <h2>Contato</h2>
                <h3>Quer saber mais ou ficou alguma dúvida? Escreva-nos agora mesmo!</h3>
                <hr class="separator">
                <br>
            </div>

            <div class="clearfix"></div>

            <div class="animated wow fadeInDown">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Preencha os campos e clique em Enviar!</h4><br>
                        <form id="contact_form" class="form" novalidate>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" id="div-contact_name">
                                        <label for="contact_name">Nome *</label>
                                        <input type="text" id="contact_name" name="contact_name" class="form-control">
                                        <span class="help-block" id="span-contact_name"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="div-contact_email">
                                        <label for="contact_email">E-mail *</label>
                                        <input type="email" id="contact_email" name="contact_email" class="form-control">
                                        <span class="help-block" id="span-contact_email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" id="div-contact_subject">
                                        <label for="contact_subject">Assunto *</label>
                                        <input type="text" id="contact_subject" name="contact_subject" class="form-control">
                                        <span class="help-block" id="span-contact_subject"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" id="div-contact_message">
                                        <label for="contact_message">Mensagem *</label>
                                        <textarea rows="5" id="contact_message" name="contact_message" class="form-control"></textarea>
                                        <span class="help-block" id="span-contact_message"></span>
                                    </div>
                                </div>
                            </div>
                            <span style="display: none" id="contact_wait">
                                <i class="fa fa-spinner fa-pulse"></i> Aguarde...
                            </span>
                            <div id="contact_buttons">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="button" class="btn btn-secondary">Limpar</button>
                            </div>
                        </form>
                        <div id="contact_result" style="margin-top: 20px" role="alert"></div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Ou se preferir, utilize um dos links a seguir</h4>
                        <ul class="ul-contato">
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="https://api.whatsapp.com/send?phone=5547991699982text=Hey">(47) 99169-9982</a> (Claro)
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:ricardo@ricardocampos.blog">ricardo@ricardocampos.blog</a>
                            </li>
                            <li>
                                <i class="fab fa-facebook"></i>
                                <a href="https://www.facebook.com/profile.php?id=100028102323218">Facebook</a>
                            </li>
                            <li>
                                <i class="fab fa-linkedin"></i>
                                <a href="https://www.linkedin.com/in/montania/">Linkedin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="wrapper">
            <div class="rights">
                <p>2021 &copy; Ontem Tem Vagas. Todos os direitos reservados.</p>
            </div>

            <nav>
                <ul>
                    <li><a href="#" id="to-top">Início</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#" id="contato-footer">Contato</a></li>
                    <li><a href="javascript:;" class="cadastre-se">Cadastre-se</a></li>
                    <li><a th:href="@{/app}" class="acessar-conta">Minhas vagas</a></li>
                </ul>
            </nav>
        </div>
    </footer>

    <!-- modal_cadastro -->
    <div id="conta_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_cadastro_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal_cadastro_label">Criar sua conta</h4>
                </div>
                <form id="conta_form" class="form" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" id="div-conta_name">
                                    <label for="conta_name">Nome *</label>
                                    <input type="text" id="conta_name" name="conta_name" class="form-control">
                                    <span class="help-block" id="span-conta_name"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" id="div-conta_lastname">
                                    <label for="conta_lastname">Sobrenome *</label>
                                    <input type="text" id="conta_lastname" name="conta_lastname" class="form-control">
                                    <span class="help-block" id="span-conta_lastname"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" id="div-conta_email">
                                    <label for="conta_email">E-mail *</label>
                                    <input type="email" id="conta_email" name="conta_email" class="form-control">
                                    <span class="help-block" id="span-conta_email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" id="div-conta_senhaA">
                                    <label for="conta_senhaA">Senha *</label>
                                    <div class="input-group">
                                        <input type="password" id="conta_senhaA" name="conta_senhaA" class="form-control">
                                        <span class="input-group-btn">
                                            <button tabindex="-1" class="btn btn-default" id="btn-senhaA" title="Mostrar ou esconder a senha" type="button">
                                                <i class="fa fa-eye-slash"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block" id="span-conta_senhaA"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" id="div-conta_senhaB">
                                    <label for="conta_senhaB">Confirme a senha *</label>
                                    <div class="input-group">
                                        <input type="password" id="conta_senhaB" name="conta_senhaB" class="form-control">
                                        <span class="input-group-btn">
                                            <button tabindex="-1" class="btn btn-default" id="btn-senhaB" title="Mostrar ou esconder a senha" type="button">
                                                <i class="fa fa-eye-slash"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block" id="span-conta_senhaB"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" id="div-conta_estado">
                                    <label for="conta_estado">Estado *</label>
                                    <select id="conta_estado" name="conta_estado" class="form-control">
                                        <option value="">Selecione</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                    <span class="help-block" id="span-conta_estado"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" id="div-conta_cidade">
                                    <label for="conta_cidade">Cidade *</label>
                                    <select id="conta_cidade" name="conta_cidade" class="form-control">
                                        <option value="">Selecione</option>
                                    </select>
                                    <span class="help-block" id="span-conta_cidade"></span>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-6" v-if="naform.askcity">
                                <div class="form-group" :class="{'has-error': $v.naform.cidadenome.$error }">
                                    <label for="nacidade">Cidade *</label>
                                    <input type="text" id="nacidade" name="nacidade" v-model="naform.cidadenome" class="form-control">
                                    <span v-if="naform.submitted && !$v.naform.cidadenome.required" class="help-block">Cidade é obrigatória</span>
                                </div>
                            </div>
                            -->
                        </div>

                        <div id="conta_result" style="margin-top: 20px" role="alert"></div>

                        <!--<a href="#"></a>-->
                    </div>
                    <div class="modal-footer">
                        <div id="conta_buttons">
                            <input type="submit" class="btn btn-primary" value="Criar conta">
                            <!--<input type="submit" v-if="!naform.wait && naform.askcity" class="btn btn-primary" value="Solicitar cidade">-->
                            <input type="button" class="btn btn-secondary" value="Cancelar">
                        </div>
                        
                        <span style="display: none" id="conta_wait">
                            <i class="fa fa-spinner fa-pulse"></i> Aguarde...
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>

    <script th:src="@{/dist/js/app.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/vm-index.js}"></script>
</body>
</html>
