<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pt">
<head>
    <title>Fast Vagas - Ferramenta de busca de vagas</title>
    <meta charset="utf-8">
    <meta name="author" content="Ricardo Montania Prado de Campos">
    <meta name="description" content="Ferramenta de busca de vagas"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900">
    <link rel="stylesheet" type="text/css" href="/dist/css/login.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#55efc4">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#55efc4">
</head>
<body>
    <div id="index">
    <!-- Header top -->
    <section class="billboard light">
        <header class="wrapper light">
            <a th:href="@{/}">
                <img class="logo" src="/img/fast_logo2a.png" width="56" alt="Logo Fast Vagas"/>
                <span class="logo-index">Fast Vagas</span>
            </a>
            <nav>
                <ul>
                    <li><a th:href="@{/}">Voltar para a página inicial</a></li>
                </ul>
            </nav>
        </header>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="login">Acesse suas vagas</h1>
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            E-mail ou senha inválidos!
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-inverse">
                            Você saiu. Volte quando quiser!
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="login" for="username">E-mail *</label>
                        <input type="text"
                               id="username"
                               name="username"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <label class="login" for="password">Senha *</label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit"
                                       name="login-submit"
                                       id="login-submit"
                                       class="form-control btn btn-success"
                                       value="Acessar">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="shadow"></div>
    </section>
    </div>

</body>
</html>
