<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>HOME | Onde Tem vagas</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container-fluid" id="home">
        <div class="row bg-title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h4 class="page-title" style="text-transform: none;">Bem vindo <span data-bind="text: nomePessoa"></span>!</h4>
                    </div>
                    <div class="col-sm-6 col-xs-6 mt-xs">
                        <div class="pull-right">
                            <small>Último acesso: <span data-bind="text: ultimoLogin"></span></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Esta é sua página inicial &#x1F60D &#x1F60D &#x1F60D</h4>
                        <p class="mt-md">
                            Mensagem 1: Aqui é onde você confere as últimas vagas e também a sua busca!<br>
                            Mensagem 2: Você sabia que também temos um serviço de orientação para montar o seu CV? Clique AQUI e confira!<br>
                            Mensagem 3: Com o nosso sistema de busca temos certeza que você vai encontrar o que está procurando!<br>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Notamos que você ainda não personalizou sua busca! &#x1F643</h4>
                        <p class="mt-md">
                             <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseStartNow" aria-expanded="false" aria-controls="collapseStartNow">
                                 Começe agora mesmo!
                             </button>
                        </p>
                        <div class="collapse" id="collapseStartNow">
                            <div class="well text-center">
                                <h3>Escolha seu plano</h3>
                                <div class="row" data-bind="visible: passoPlano() === 0">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Starter - R$ 0,00</div>
                                            <div class="panel-body">
                                                <p>- 3 filtros de pesquisa!</p>
                                                <p>- 1 dispositivo.</p>
                                                <p>- Consultas ilimitadas.</p>
                                                <button type="button" class="btn btn-secondary" data-bind="click: selecionarPlano1">Quero este!</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Medium - R$ 2,99</div>
                                            <div class="panel-body">
                                                <p>- 6 filtros de pesquisa!</p>
                                                <p>- 2 dispositivos</p>
                                                <p>- Consultas ilimitadas.</p>
                                                <button type="button" class="btn btn-secondary" data-bind="click: selecionarPlano2">Quero este!</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Master - R$ 4,99</div>
                                            <div class="panel-body">
                                                <p>- 10 filtros de pesquisa!</p>
                                                <p>- 3 dispositivos.</p>
                                                <p>- Consultas ilimitadas.</p>
                                                <button type="button" class="btn btn-secondary" data-bind="click: selecionarPlano3">Quero este!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-bind="visible: passoPlano() === 1">
                                    <div class="col-sm-12 col-xs-12">
                                        <h2>Starter</h2>

                                        <button type="button" class="btn btn-secondary" data-bind="click: selecionarPlano">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Você tem 6 termos configurados!! &#x1F609</h4>
                        <p class="mt-md">
                            Ver ou alterar
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Vagas neste mês</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash"></div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-success"></i>
                            <span class="counter text-info" data-bind="text: totalMes"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Vagas nesta semana</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash2"></div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-purple"></i>
                            <span class="counter text-info" data-bind="text: totalSemana"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Vagas de hoje</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash3"></div>
                        </li>
                        <li class="text-right">
                            <i class="ti-arrow-up text-info"></i>
                            <span class="counter text-info" data-bind="text: totalHoje"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Vagas da pessoa: só aparece quando tem -->
        <div class="row" data-bind="visible: vagasSelecionadas().length > 0">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Últimas vagas selecionadas selecionadas para você</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>TÍTULO</th>
                                <th>ORIGEM</th>
                                <th>PUBLICAÇÃO</th>
                                <th>DETALHAR</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: vagasSelecionadas">
                            <tr>
                                <td data-bind="text: $index()+1"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: portal_id"></td>
                                <td data-bind="text: published_at"></td>
                                <td><a href="#">Detalhar</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Últimas vagas na cidade da pessoa -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">
                        Últimas vagas em <span data-bind="text: cidadeEstado"></span>
                    </h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="hidden-xs">
                                    <th>QUANDO</th>
                                    <th>TÍTULO</th>
                                    <th>MAIS</th>
                                </tr>
                                <tr class="visible-xs">
                                    <th>TÍTULO</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: ultimasVagas">
                                <tr class="hidden-xs">
                                    <td data-bind="text: published_at"></td>
                                    <td data-bind="text: name"></td>
                                    <td><a href="#" data-bind="click: $parent.verVaga">Ver vaga</a></td>
                                </tr>
                                <tr class="visible-xs">
                                    <td><a href="#" data-bind="click: $parent.verVaga, text: name"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li data-bind="css: {'disabled': lastJobPagination.currentPage() === 1}">
                            <a href="#" aria-label="Previous" data-bind="click: lastJobPaginationFirst">
                                <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                            </a>
                        </li>
                        <li data-bind="css: {'disabled': !lastJobPagination.hasPreviousPage()}">
                            <a href="#" aria-label="Previous" data-bind="click: lastJobPaginationPrev">
                                <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                            </a>
                        </li>
                        <!-- ko foreach: lastJobPagination.pages -->
                        <li data-bind="css: {'active': $data === $root.lastJobPagination.currentPage()}">
                            <a href="#" data-bind="click: $root.lastJobPaginationPage, text: $data"></a>
                        </li>
                        <!-- /ko -->
                        <li data-bind="css: {'disabled': !lastJobPagination.hasNextPage()}">
                            <a href="#" aria-label="Next" data-bind="click: lastJobPaginationNext">
                                <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                            </a>
                        </li>
                        <li data-bind="css: {'disabled': lastJobPagination.currentPage() === lastJobPagination.pages().length }">
                            <a href="#" aria-label="Next" data-bind="click: lastJobPaginationLast">
                                <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Top vagas na cidade da pessoa
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">
                        Top vagas em <span data-bind="text: cidadeEstado"></span>
                    </h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>TÍTULO</th>
                                <th>ORIGEM</th>
                                <th>HITS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="txt-oflo">Secretária pessoal</td>
                                <td>Joinville Vagas</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Comprador</td>
                                <td>Indeed</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Recepcionista</td>
                                <td>Joinville Vagas</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Atendente comercial</td>
                                <td>SINE Joinville</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Vendedor interno</td>
                                <td>Joinville Vagas</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Vendedor externo</td>
                                <td>Joinville Vagas</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Estoquista (H/M)</td>
                                <td>SINE Joinville</td>
                                <td>2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Modal vaga -->
        <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: abrirModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Detalhando vaga</h4>
                    </div>
                    <div class="modal-body">
                        <h1 data-bind="text: vaga.name"></h1>
                        <p>Empresa: <span data-bind="text: vaga.company_name"></span></p>
                        <p>Tipo: <span data-bind="text: vaga.job_type"></span></p>
                        <h3>Descrição:</h3>
                        <p data-bind="text: vaga.description"></p>
                        <p><a target="_blank" data-bind="attr: {'href': vaga.url}, text: 'VER VAGA no site ' + vaga.portal_name()"></a></p>
                        <p><small>
                            Em <span data-bind="text: vaga.published_at"></span> - De <span data-bind="text: vaga.portal_name"></span>
                        </small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>