<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Minha conta | Fast vagas</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container-fluid" id="minha-conta">
        <div class="row bg-title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="page-title" style="text-transform: none;">Olá <span data-bind="text: nomePessoa"></span>!</h4>
                    </div>
                    <div class="col-sm-6 mt-xs">
                        <ol class="breadcrumb">
                            <li><a th:href="@{/home}">Home</a></li>
                            <li class="active">Minha conta</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="white-box">
                    <div class="person-bg">
                        <div class="overlay-box">
                            <div class="person-content">
                                <a href="javascript:void(0)" title="Alterar imagem do perfil">
                                    <img th:src="@{/img/users/person.png}" class="thumb-lg img-circle" alt="Imagem do usuário"></a>
                                <h4 class="text-white">Login</h4>
                                <h5 class="text-white" data-bind="text: userAccount.email"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="person-btm-box">
                        <div class="col-md-4 col-sm-4 text-center">
                            <p class="text-purple"><i class="ti-facebook"></i></p>
                            <h1>258</h1>
                            <p class="text-purple">Vagas</p>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                            <p class="text-blue"><i class="ti-twitter"></i></p>
                            <h1>125</h1>
                            <p class="text-purple">E-mails</p>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                            <p class="text-danger"><i class="ti-dribbble"></i></p>
                            <h1>556</h1>
                            <p class="text-purple">??</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    <h2 style="margin-bottom: 30px">Meus dados</h2>

                    <form class="form-horizontal form-material" data-bind="submit: submitMeusDados" novalidate>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txfFirstName">Nome</label>
                                <input type="text" id="txfFirstName" class="form-control form-control-line" data-bind="value: nameChange, attr: {'placeholder': userAccount.firstName}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txfLastName">Sobrenome</label>
                                <input type="text" id="txfLastName" class="form-control form-control-line" data-bind="value: lastNameChange, attr: {'placeholder': userAccount.lastName}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txfEmail">E-mail</label>
                                <input type="email" id="txfEmail" class="form-control form-control-line" data-bind="value: emailChange, attr: {'placeholder': userAccount.email}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Localização</label>
                                <span class="form-control disabled" data-bind="text: userAccount.cityName() + ', ' + userAccount.stateName()"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txfPassword">Alterar senha</label>
                                <input type="email" id="txfPassword" class="form-control form-control-line" data-bind="value: passwdChange" placeholder="******">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txfPassword">Repetir senha</label>
                                <input type="email" id="txfPasswordTwo" class="form-control form-control-line" data-bind="value: passwdChangeTwo" placeholder="******">
                            </div>
                        </div>

                        <span data-bind="visible: aguarde" style="display: none;">
                            <i class="fa fa-spinner fa-pulse"></i> Aguarde...
                        </span>

                        <input type="submit" class="btn btn-primary" value="Salvar">
                        <input type="button" class="btn btn-secondary" value="Cancelar" data-bind="click: cancelarMeusDados">
                    </form>

                    <div class="alert alert-danger" style="margin-top: 20px;" role="alert" data-bind="visible: erro() !== '', text: erro"></div>
                    <div class="alert alert-success" style="margin-top: 20px;" role="alert" data-bind="visible: sucesso() !== '', text: sucesso"></div>
                </div>

                <div class="white-box">
                    <h2 style="margin-bottom: 30px">Assinatura</h2>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <img src="http://localhost:5000/person/img/plano.png" height="32" alt="Mastercard">
                                Plano Ax01 Light
                            </h4>
                            <p class="list-group-item-text mt-md">
                                R$ 2,99 por mês. Próxima cobrança em 01/04/2019
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <img src="http://localhost:5000/person/img/mastercard.png" width="32" alt="Mastercard">
                                Cartão Mastercard final 0000
                            </h4>
                            <p class="list-group-item-text mt-md">
                                Vencimento todo dia 01
                            </p>
                        </li>
                    </ul>

                    <input type="button" class="btn btn-primary" value="Atualizar dados de pagamento">
                </div>

                <div class="white-box">
                    <h2 style="margin-bottom: 30px">Conta</h2>

                    <form class="form-horizontal form-material" data-bind="submit: submitConta" novalidate>
                        <input type="button" class="btn btn-secondary" value="Cancelar minha conta!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>